<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger btn-custom">
                        <h4 class="card-title">Hello...!</h4>
                        <p class="card-category">Check your email for otp</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="otpForm">
                            <div id="otp-input" class="row">
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-1' [formControl]="otpForm.controls['otp1']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-2' [formControl]="otpForm.controls['otp2']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-3' [formControl]="otpForm.controls['otp3']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-4' [formControl]="otpForm.controls['otp4']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-5' [formControl]="otpForm.controls['otp5']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput id='in-6' [formControl]="otpForm.controls['otp6']" type="text" name="otp" maxlength="1" >
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="verifyOTP()" mat-raised-button type="submit" class="btn btn-danger btn-custom" style="width:100%;">Go</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button mat-raised-button (click)="resendOTP()" class="btn btn-danger btn-custom" style="width:100%;">Re-Send OTP</button>
                                </div>
                                <div class="col-md-6">
                                    <button mat-raised-button (click)="switchUser()" class="btn btn-danger btn-custom" style="width:100%;">Switch User</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
  </div>
  