<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger btn-custom">
                        <h4 class="card-title">Hello...!</h4>
                        <p class="card-category">New password will be sent to your registered email</p>
                    </div>
                    <div class="card-body">
                        <form role="form" [formGroup]="forgotPasswordForm">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email"  type="email" [formControl]="forgotPasswordForm.controls['email']">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="onResetPassword()" mat-raised-button type="submit" class="btn btn-danger btn-custom" style="width:100%;">Forgot Password</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-raised-button class="btn btn-danger btn-custom" (click)="backToLogin()" style="width:100%;">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
  </div>